*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px;

}

.gallery img{
    width: 100%;
    max-width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    
}

.gallery img::after{
    content: "";
    width: 300px;
}

.header{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: beige;
    color: rgb(0, 0, 0);
    border-bottom: 4px solid yellow;
}